@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "reset.css";
@import "styler.css";
@import "bootstrap.css";

.hide {
    display: none;
}

@-ms-viewport {
    width: device-width;
}

@media only screen and (max-width: 1366px) {
    body {
        font-size: 14px !important;
    }
}